.top-title {
    text-align: center;
}
.main-wrapper{
    background-color: aliceblue;
    width: 100%;
    height: 340px; 
    display: flex;
}
.game-example{
    width: 50%;
    height: 340px;

}
.ranking{
    width: 50%;
    height: 340px;
    background-color: bisque;
}
.ranking h2{
    text-align: center;
}
.prize{
    display: flex;
}
.btn-wrapper{
    width: 100%;
    height: 56px;
    position: relative;
    background-color: aquamarine;
}
.start-btn {
    position:absolute;
    left:43%;
    width: 200px;
    height: 100%;
}
