.answers{
    display: flex;
    justify-content: space-around;
}
img{
    width: 140px;
    height: 140px;
}
.answer{
    width: 180px;
    height:300px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid ghostwhite;
}
.ans_imges{
    display: flex;
    justify-content: space-around;
}

.top_title{
    display: flex;
    justify-content: center;
}
.points{
    display: flex;
    justify-content: center;
}
.links{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.to_top{
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    background-color: rgb(243, 205, 36);
    padding: 5px 5px;
    margin-right: 10px;
    color: white;
}

.again{
    text-decoration: none;
    border-radius: 7px;
    display: inline-block;
    background-color: rgb(244, 180, 62);
    padding: 5px 5px;
    margin-left: 10px;
    color: white;
}