/* 
.main-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: aqua; 
}
.signup-wrapper {
    background-color: antiquewhite;
    height: 100%;
    width: 50%;

}   */