main{
    position:relative;
}

.email-area {
    margin-bottom: 20px;
    height: 40%;
    /* background-color: pink; */
}
.password-area{
    margin-bottom: 20px;
    height: 40%;
    /* background-color: pink; */
}
.error-area {
    /* background-color: orange; */
    width: 100%;
    height: 10%;
}
.error {
    color: red;
}

.btn{
    width:20%;
    cursor:pointer;
    background-color: #FFCC66;
    border-radius:10px;
    padding: 4px;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* background-color: aqua; */
}
.signup-wrapper {
    position: absolute;
    top: 10%;
    left: 25%;
    background-color: white;
    border-radius:10px;
    height: 80%;
    width: 40%;
    text-align:center;
    opacity:1;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.3);

}